html, body, #react-root, #react-root>div { height: 100%; }

.slds-text-link { cursor: pointer; }

.slds-global-header_container {
    box-shadow: 0 2px 4px rgba(0,0,0,.07);
}

.app-controls {
	justify-content: flex-end;
}

.slds-context-bar__item svg {
	fill: #00a1df;
}

.slds-context-bar__item a:hover svg {
	fill: #005fb2;
}

.slds-context-bar__item.disabled {
  background-color: #eaeaea;
  color: #5a5a5a;
  cursor: not-allowed;
}

.slds-context-bar__item.disabled svg {
  fill: #777777;
}

.page {
	height: calc(100% - 2.5rem);
	margin-top: 2.5rem;
}

.tools-pane { height: 100%; }

.tools-pane>button {
	float: left;
	height: 100%;
	width: .75rem;
	background: #fff;
	border-radius: 0;
	border: 1px solid #dddbda;
}

.tools-pane>article {
  display: flex;
  flex-direction: column;
	width: calc(100% - .75rem);
	height: 100%;
}

.tools-pane.collapsed>article {
	display: none;
}

.tools-pane.collapsed>button {
	position: absolute;
	right: 0;
	height: calc(100% - 2.5rem);
}

.editor-pane {
	position: relative;
  background-color: grey;
  height: 100%;
}

.editor-pane img {
  max-width: 100%;
  max-height: 100%;
}

.editor-pane canvas {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.new-object-form .slds-form-element__label {
	padding-right: .25rem;
}

.object-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.object-list .slds-scrollable_y {
  height: 100%;
}

.object-item p {
  font-weight: bold;
}

.login-form {
  width: 20rem;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
}

.login-form button {
  width: 100%;
}

.login-form .loading-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* Popover */
.popover-anchor {
  position: relative;
  display: inline-block;
}

.slds-popover {
  position: absolute;
  bottom: calc(100% + 14px);
  left: calc(50% - 25px);
  display: none;
  white-space: normal;
}

.popover-anchor:hover .slds-popover {
  display: block;
}

.slds-icon.success { fill:#4bca81; }
.slds-icon.warning { fill:#ffb75d; }
.slds-icon.error { fill:#c23934; }
